[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
songmam = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]

[packages.pydantic]
extras = [ "dotenv",]
version = "*"

[requires]
python_version = "3.8"