[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
songmam = "*"
fastapi = "*"
pydantic = {extras = ["dotenv"], version = "*"}

[dev-packages]

[requires]
python_version = "3.8"
